.header {
  margin-bottom: var(--spacer-2);
  text-align: center;
}

.input {
  padding: var(--spacer-3) var(--spacer-5);
  border-radius: var(--br);
  display: block;
  margin: 0 auto var(--spacer-3);
}

.players {
  display: flex;
  flex-direction: column;
  margin: 0.25em 0;
  align-items: center;

  a {
    transition: color 0.3s;
    &:hover {
      color: var(--clr-accent);
    }
  }
}
