.stats {
  margin: var(--spacer-1) 0;
}

.img {
  max-width: 20rem;
  margin: var(--spacer-3) 0;
}

.team {
  color: var(--clr-accent);
  margin-bottom: var(--spacer-3);
}

.title {
  font-size: var(--fz-8);
  margin: var(--spacer-1) 0;
  text-align: center;
}

.err {
  color: var(--clr-err);
  font-size: var(--fz-6);
  margin: var(--spacer-2) 0;
  text-align: center;
}
